<div>
  <p>您好 <%= @name %>!<p>
  <p>
  您已经申请重置账号密码, 链接5个小时内有效。如非本人操作，请忽略。
  </p> 
  <p>
    <a href="<%= @url %>">重置账号密码</a>
  </p> 
  <p>
    或复制如下链接到浏览器地址栏激活账号。
    <%= @url %>
  </p>
  <p>Thank you!</p>
</div>

